.banner-img-1{
    background-image: url("../image/carousel/3.jpg");
    height: 100vh;
    background-repeat: no-repeat;
}
.banner-img-2{
    background-image: url("../image/carousel/5.jpg");
    height: 100vh;
    background-repeat: no-repeat;
}
.banner-img-3{
    background-image: url("../image/carousel/4.jpg");
    height: 100vh;
    background-repeat: no-repeat;
}
.image-ic{
    width:160px;
    height: 100px;
}
